#hero {
  max-width: 100vw;
  height: 400px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  color: rgb(240, 240, 240);
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-weight: bold;
}

#content {
  font-family: "Times New Roman", Times, serif;
  font-size: 1.1rem;
}

#btn-send {
  height: 35px;
}

#comments {
  font-family: "Times New Roman", Times, serif;
  font-size: 1.1rem;
}

small {
  color: rgb(137, 137, 137);
  font-style: italic;
  font-family: "Times New Roman", Times, serif;
}
