h4 {
  color: white;
}

.btn {
  margin-right: 15%;
}

#btnRegister{
  margin: 0px;
}

#header {
  height: 50px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.color{
  background-color: rgb(1, 1, 1);
}

.footerContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 1%;
}

.copyright {
  display: flex;
  justify-content: center;
  align-items: center;
  color: grey;
  font-size: 0.9rem;
}
